* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url(images/pexels-pixabay-164634.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-size: 18px;
  /* background-color: darkgray; */
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 500px;
  margin-top: 8%;
  background-color: darkgray;
}
.heading {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  background-color: black;
  font-size: 18px;
}
.heading h1 {
  margin-top: 10%;
}
.center {
  text-align: center;
  margin-bottom: 40px;
}
.radio-Btn {
  text-align: center;
  margin-bottom: 50px;
}
input[type="radio"] {
  margin: 0 20px 0 20px;
}

.bttn1 {
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 28px;
  background-color: lightgray;
  color: black;
  box-shadow: 0px 0px 2px 2px white;
  font-weight: 800;
  margin-right: 30px;
  align-items: center;
}
.bttn2 {
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 28px;
  background-color: lightgray;
  color: black;
  box-shadow: 0px 0px 2px 2px white;
  font-weight: 800;
  margin-left: 30px;
  align-items: center;
}
#registration {
  width: 200px;
  padding: 5px;
  border: 1px solid black;
}
.button {
  text-align: center;
  margin-bottom: 40px;
}
.text-message {
  text-align: center;
  margin-bottom: 50px;
}
.number-plate {
  text-align: center;
  margin-bottom: 50px;
}
.plate {
  text-align: center;
  margin: 2em 0em;
  /* padding: 0px 70px 0px 70px; */
}

li {
  border: 2px solid black;
  border-radius: 10px;
  background-color: yellow;
  color: navy;
  font-weight: 600;
  width: 6em;
  height: 2.5em;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  margin: 0 1em 1em 0;
}

@media (max-width: 700px) {
  .container {
    width: 90%;
    height: 100%px;
    margin-top: 0px;
  }
  .radio-Btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  html {
    background-image: url(images/pexels-pixabay-164634.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-size: 18px;
  }
  li {
    border: 2px solid black;
    border-radius: 8px;
    background-color: yellow;
    color: black;
    font-weight: 400;
    /* width: 8em;
    height: 15em; */
    list-style: none;
    display: inline;
    text-align: center;
    padding-top: 6px;
  }
}
